@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
body{font-family: 'Space Grotesk';}
main{
    display: flex;
    flex-direction: row;
}

.container__left {
    background-image: url(../img/bg-main-desktop.png);
    background-size: cover;
    width: 30%;
    height: 100vh;
}

.container__right {
    width: 70%;
    height: 100vh;
    background-image: linear-gradient(to right, #ededed, #ffffff);
}